@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;
}

.blink {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.pixelated-text {
  font-size: 16px; /* Base size */
  font-family: 'Courier New', Courier, monospace; /* Fallback to monospace */
  image-rendering: pixelated; /* Pixelate effect */
}

/* CSS */
.skills-scroll-container {
  @apply overflow-hidden whitespace-nowrap py-4;
}

.skills-scroll-content {
  @apply inline-block animate-scroll;
}

.skill-item {
  @apply mx-4 text-white font-mono;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.skill-logo:hover {
  filter: brightness(0.8); /* Darkens the logo slightly on hover */
}






