@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;
}

.blink {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.pixelated-text {
  font-size: 16px; /* Base size */
  font-family: 'Courier New', Courier, monospace; /* Fallback to monospace */
  image-rendering: pixelated; /* Pixelate effect */
}





